@model IEnumerable<GestionEmployes.Models.Employe>

@{
    ViewData["Title"] = "Index";
}

<h1>Employes </h1>

<p>
    <a asp-action="Create" class="create-new-btn">Ajouter Un Nouveau Employe</a>
</p>
<section class="person-boxes">
    @foreach (var item in Model)
    {
        <div class="person-box">
            <div class="box-avatar">
                <img src="Images/@item.UserImage" style="width:100px;height:100px;object-fit:cover;" alt="Employee Image">
            </div>
            <div class="box-bio">
                <h2 class="bio-name"> @item.NomEmploye</h2>
                <br>
                <p class="bio-position">@item.Salaire DH</p>
            </div>
            <div class="box-actions">
                <a asp-action="Edit" asp-route-id="@item.EmployeId" class="action-link">
                    <svg class="w-6 h-6 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="stroke-blue-500" d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z" />
                    </svg>

                    <span>Edit</span>
                </a>
                <a asp-action="Delete" asp-route-id="@item.EmployeId" class="action-link">
                    <svg class="w-6 h-6 text-red-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                    </svg>


                    <span>Delete</span>
                </a>
                <a asp-action="Details" asp-route-id="@item.EmployeId" class="action-link">
                    <svg class="w-6 h-6 text-green-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z" />
                    </svg>


                    <span>Details</span>
                </a>
            </div>

        </div>
    }
</section>

<style>
    
    body {
        color: #99a0b0;
        width: 100%;
        height: 100%;
        background: #f5f5fa;
        font-size: 16px;
        line-height: 120%;
        font-family: Open Sans, Helvetica, sans-serif;
    }

    h1 {
        text-align: center;
        color: #1b253d; 
        font-size: 2em;
        font-weight: 700;
    }

    .person-boxes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 2em;
        padding: 2em 0;
        max-height: 80vh; 
        overflow-y: auto; 
    }

    .create-new-btn {
        padding: 0.5rem 1rem; 
        color: #3b82f6; 
        font-weight: 700; 
        font-family: sans-serif; 
        text-decoration: none;
        display: inline-block;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

       
        .create-new-btn:hover {
            color: white; 
            background-color: #3b82f6; 
        }

    .person-box {
        background: #fff;
        text-align: center;
        padding: 2em;
        border: 1px solid #ede8f0;
        border-radius: 5px;
        height: 320px;
    }

    .box-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
    }

        .box-avatar img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .box-bio {
        margin: 2em 0;
    }

    .bio-name {
        color: #1b253d;
        font-size: 1.2em;
        font-weight: 700;
    }

    .bio-position {
        font-size: 1em;
        color: #99a0b0;
    }


    .box-actions {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

  
    .action-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #99a0b0;
        transition: color 0.3s ease;
    }

     
        .action-link svg {
            margin-right: 8px; 
        
            transition: fill 0.3s ease;
        }

        
        .action-link:hover svg,
        .action-link:hover {
            color: #1b253d;
            fill: #1b253d;
        }

        .action-link span {
            font-size: 1em;
            font-weight: 600;
        }
</style>
